@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Header Start */

.header__container{
  max-width: 1512px;
  height: 1111px;
  background-image: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}

.header{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  padding: 15px 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #545454;
}

.header__left-text{
  width: 565px;
  height: 304px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  left: 148px;
  top: 223px;
  color: rgba(39, 64, 75, 1);
  line-height: 143.9%;
}
.stonks{
  color: rgba(6, 193, 182, 1);
}
.stonks__number{
  color: rgba(0, 205, 195, 1);
}
.header__left-btn{
  width: 327px;
  height: 72px;
  position: absolute;
  left: 148px;
  top: 589px;
  background-image: linear-gradient(180deg, #849FFF 0%, #1D4CF5 100%);
  box-shadow: 0px 75px 30px rgba(0, 0, 0, 0.01), 0px 42px 25px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09), 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.rectangle{
position: absolute;
width: 569px;
height: 598px;
left: 793px;
top: 177px;
z-index: 1;
}
.dollary1{
position: absolute;
width: 244px;
height: 365px;
left: 1220px;
top: 279px;
z-index: 2;
}
.dollary2{
  position: absolute;
width: 244px;
height: 365px;
left: 713px;
top: 368px;
filter: blur(1px);
}

.phoneHand{
position: absolute;
width: 261px;
height: 369px;
left: 443px;
top: 535px;
}

.header__video-container{
position: absolute;
width: 834px;
height: 425px;
left: 339px;
top: 903px;
border: none solid;
background-image: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
box-shadow: 151px 62px 65px rgba(0, 0, 0, 0.01), 85px 35px 55px rgba(0, 0, 0, 0.05), 38px 16px 41px rgba(0, 0, 0, 0.09), 9px 4px 22px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
border-radius: 15px;
z-index: 1;
}

.header__video-text{
position: absolute;
width: 600px;
height: 65px;
left: 123px;
top: 68px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
}

.instagram{
  position: absolute;
width: 106px;
height: 106px;
left: 772px;
top: 1px;
}

.message{
  position: absolute;
left: -65px;
top: 345px;
}
