@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

/* ! Header Start */

.header__container{
  max-width: 1512px;
  height: 1111px;
  background-image: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%);
}

.header{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  padding: 15px 0 0 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #545454;
}

.header__left-text{
  width: 565px;
  height: 304px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  left: 148px;
  top: 223px;
  color: rgba(39, 64, 75, 1);
  line-height: 143.9%;
}
.stonks{
  color: rgba(34, 167, 102, 1)
}
.stonks__number{
  color: rgba(34, 167, 102, 1)
}
.newMe{
  color: rgba(34, 167, 102, 1)

}
.header__left-btn{
  width: 327px;
  height: 72px;
  position: absolute;
  left: 148px;
  top: 589px;
  background-image: linear-gradient(180deg, #849FFF 0%, #1D4CF5 100%);
  box-shadow: 0px 75px 30px rgba(0, 0, 0, 0.01), 0px 42px 25px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09), 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.header__left-btn:hover{
  transform: scale(1.1);
}

.rectangle{
  position: absolute;
  width: 521px;
  height: 759px;
  left: 713px;
  top: 144px;
z-index: 1;
}
.dollary1{
position: absolute;
width: 244px;
height: 365px;
left: 1140px;
top: 479px;
z-index: 2;
}
.dollary2{
  position: absolute;
width: 244px;
height: 365px;
left: 713px;
top: 538px;
/* filter: blur(1px); */
}

.phoneHand{
  position: absolute;
  width: 261px;
  height: 369px;
  left: 189px;
  top: 1034px;
z-index: 2;
}

.phonePic{
  position: absolute;
  width: 124px;
  height: 223px;
  left: 299px;
  top: 1048px;
  z-index: 3;
}

.header__video-container{
position: absolute;
width: 834px;
height: 475px;
left: 339px;
top: 903px;
border: none solid;
background-image: linear-gradient(90deg, #F3E7E9 0%, #E3EEFF 99%, #E3EEFF 100%);
box-shadow: 151px 62px 65px rgba(0, 0, 0, 0.01), 85px 35px 55px rgba(0, 0, 0, 0.05), 38px 16px 41px rgba(0, 0, 0, 0.09), 9px 4px 22px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
border-radius: 15px;
z-index: 1;
}

.header__video-text{
position: absolute;
width: 600px;
height: 65px;
left: 123px;
top: 68px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #000000;
}

.instagram{
  position: absolute;
width: 106px;
height: 106px;
left: 772px;
top: 1px;
}

.header__video-video{
position: absolute;
width: 457px;
height: 252px;
left: 189px;
top: 149px;
background-color:rgba(39, 64, 75, 1);
}

/* ! Course */
.course-container{
  background-color: rgba(172, 217, 215, 1);
  width: 1512px;
padding: 5em;
}
.transition{
position: absolute;
height: 253px;
top: 1130px;
}

.course__text-item1{
  position: absolute;
  width: 1536.52px;
  height: 104.61px;
  left: -22.66px;
  top: 1390.13px;
  z-index: 2;
}

.course__text-item2{
position: absolute;
width: 1536.52px;
height: 204.61px;
left: -22.66px;
top: 1340px;
}

.modules-container{
  padding: 500px 8em 0 8em;
}





/* !Dropdown */
.dropdown-body{
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.container{
  width: 100%;
  height: 100%;
}

.dropdown{
  margin: 100px auto;
  user-select: none;
  position: relative;
}

.dropdown-btn{
display: flex;
flex-direction: row;
align-items: center;
padding: 23px 13px 23px 43px;
gap: 35px;
position: absolute;
width: 1165px;
height: 126px;
left: 173px;
top: 367px;
background: #FFFFFF;
box-shadow: -8px 0px 0px rgba(199, 38, 255, 0.25), 128px 120px 70px rgba(0, 0, 0, 0.01), 72px 68px 59px rgba(0, 0, 0, 0.05), 32px 30px 44px rgba(0, 0, 0, 0.09), 8px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}

.dropdown-content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 14px 41px;
gap: 23px;
position: absolute;
width: 1165px;
height: 1047px;
left: 173px;
top: 497px;
background: #FFFFFF;
box-shadow: -8px 0px 0px #B1ABE0, 128px 120px 70px rgba(0, 0, 0, 0.01), 72px 68px 59px rgba(0, 0, 0, 0.05), 32px 30px 44px rgba(0, 0, 0, 0.09), 8px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
border-radius: 15px;
z-index: 5;
}

.dropdown-content li{
  color:rgba(0, 205, 195, 1);
  margin-top: 20px;
}
.dropdown-content span {
  color: black
}

.dropdown-item{
  width: 1004px;
height: 58px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 39px;
color: #101E2F;
flex: none;
order: 1;
flex-grow: 0;
}

.dropdown-item:hover{
  background: #fcfcfc;
}

.time-icon{
  position: absolute;
  top: 595px;
}
.time-txt{
  position: absolute;
  top: 595px;
  left: 110px;
  font-style: normal;
  font-weight: 500;
    font-size: 24px;
  line-height: 32px;
}
.result1{
position: absolute;
top: 685px;
}
.module1{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 185.02%;
  color: #00CDC3;
}

.module-theme1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1F71D2;
}



/* ! Tarify */

* {
  padding: 0;
  margin: 0;
}
.back {
  margin-top: 200px;
  background-color: #5d99ac;
  width: 100%;
  height: 1850px;
  display: block;
  padding-top: 170px;
}
.tarify-kursa {
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.wraper {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  margin: 77px auto;
}
.wraper .left-block {
  display: block;
  width: 480px;
  height: 1342px;
  background-color: white;
  margin-left: 0px;
  border-radius: 10px;
}
.wraper .text-standart {
  padding-top: 20px;
  background-color: #d2efff;
  width: 480px;
  height: 70px;
  border-radius: 10px;
}
.wraper .text-standart h2 {
  font-size: 28px;
  text-align: center;
}
.wraper ul {
  font-size: 18px;
  margin-left: 73px;
}
.wraper ul li {
  width: 346px;
  height: 46px;
  margin-top: 30px;
  margin-bottom: 50px;
  
}
.left-block .line {
  width: 410px;
  height: 1px;
  background-color: #a0c5d9;
  margin-left: 35px;
  margin-top: 30px;
}

.stoimost h2.stoimost-text {
  font-size: 28px;
  margin-left: 110px;
  margin-top: 19px;
}
.stoimost .line2 {
  width: 80px;
  height: 2px;
  background-color: #1f5979;
  margin-left: 285px;
  margin-top: -15px;
}
.stoimost h2.stoimost-text span {
  color: #1f5979;
}

.stoimost2 h2 {
  color: #a508be;
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
}
.stoimost2 h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 21px;
}
button.zayavka {
  width: 327px;
  height: 72px;
  font-size: 24px;
  color: #fff;
  background-image: linear-gradient(180deg, #849fff 0%, #1d4cf5 100%);
  box-shadow: 0px 75px 30px rgba(0, 0, 0, 0.01),
    0px 42px 25px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09),
    0px 5px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 21px;
  margin-left: 75px;
}
.wraper .right-block {
  height: 1500px;
  border-radius: 10px;
}
.right-block .text-nastav {
  background-color: #51a5f3;
  height: 80px;
  border-radius: 10px;
}
.right-block .text-nastav h2 {
  color: #fff;
}
.right-block .lines {
  background: #d2efff;
  width: 424px;
  height: 146px;
  margin-top: 30px;
  margin-left: 27px;
}
.li_last {
  width: 346px;
  height: 46px;
  margin-top: -10px;
  font-size: 18px;
  line-height: 10px;
  line-height: 10px !important;

}
.wraper .right-block .ul {
  padding-top: 35px;
  margin-left: 50px;
}
.wraper .right-block .line2 {
  width: 105px;
}

/* ! Study */

* {
  padding: 0;
  margin: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.wrapper button {
  background-color: #6cb8b4;
  border: none;
  width: 900px;
  height: 84px;
  font-size: 38px;
  color: #fff;
}
.wrapper-2 {
  margin-left: 120px;
  margin-top: 100px;
  position: relative;
}
.wrapper-2 .rec-df .rec-block {
  position: absolute;
  left: 65%;
  top: -9%;
}
.rec2-block {
  margin-left: 70%;
  margin-top: -69px;
}
.rec3-block {
  margin-left: 93%;
  margin-top: -35%;
}
.left-block img {
  width: 419px;
  height: 335px;
  margin-left: -50px;
}
.left-block .amalia-btn {
  width: 347px;
  height: 62px;
  background: #9c93de;
  border: none;
  color: #fff;
  font-size: 28px;
  margin-left: -390px;
}
.wrapper-2 .text .text-domoxoz {
  color: #1e528e;
  font-size: 38px;
}
.wrapper-2 .text .text-hochesh {
  font-size: 28px;
}
.wrapper-2 .df {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.wrapper-2 .text_do {
  font-size: 28px;
  color: #9c93de;
  width: 700px;
}
.wrapper-2 .right-block {
  position: absolute;
  left: 63%;
}
.wrapper-2 .text_do span {
  font-size: 24px;
  height: 135px;
  color: black;
}
.wrapper-2 .text_posle {
  font-size: 28px;
  color: #9c93de;
  margin-top: 15px;
  width: 700px;
}
.wrapper-2 .text_posle span {
  font-size: 24px;
  height: 135px;
  color: black;
}
.frame-img {
  margin-left: -150px;
}
.wrapper-2 .text {
  position: absolute;
  top: 50px;
}
.df .left-block img {
  width: 435px;
  height: 319px;
}
.df .left-block {
  position: relative;
}
.df {
  position: absolute;
  top: 100px;
}
.df .left-block img.left-img2 {
  width: 342px;
  height: 62px;
  position: absolute;
  left: 50px;
  top: 280px;
}
.df .right-block {
  position: absolute;
  left: 450px;
}

.main {
  margin-top: 370px;
}
.main .line_blue {
  width: 997px;
  height: 1px;
  border: 1px solid #00fff0;
  margin-left: 6%;
}
.main .line_goalblue {
  display: flex;
}
.main-block {
  display: flex;
  margin-top: -50px;
}
.main-left__block {
  margin-left: 100px;
}
.main-left__block-do {
  font-size: 28px;
  color: #9c93de;
  width: 700px;
  margin-top: 30px;
}

.main-left__block-do span {
  font-size: 18px;
  height: 135px;
  color: black;
}
.main-left__block-posle {
  font-size: 28px;
  color: #9c93de;
  margin-top: 15px;
  width: 700px;
}
.main-left__block-posle span {
  font-size: 18px;
  height: 135px;
  color: black;
}
span.main-left__block-prodaj {
  color: #9c93de;
}
.main-right__block {
  margin-left: 50px;
}
.main-right__block .left-img2 {
  margin-top: -30px;
  margin-left: 60px;
}
.main-left__block-nur {
  font-size: 24px;
}
.main-left__block-nur span {
  color: #9c93de;
}
.main-right__block .narin-btn {
  width: 347px;
  height: 62px;
  background: #9c93de;
  border: none;
  color: #fff;
  font-size: 28px;
  margin-top: -50px;
  margin-left: 10px;
}

.janyl .line {
  width: 997px;
  height: 1px;
  background: #00fff0;
  border: 1px solid #00fff0;
  margin-top: 70px;
  margin-left: 220px;
}
.janyl {
  position: relative;
}
.jahyl-df-text {
  margin-left: 170px;
  margin-top: 57px;
}
.jahyl-df-text h2 {
  font-size: 38px;
  color: #1e528e;
}
.jahyl-df-text h3 {
  font-size: 28px;
  margin-top: 12px;
}
.janyl-df-megaphone {
  position: absolute;
  left: 80%;
  top: 5px;
}

.janyl-df {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  position: relative;
}
.janyl-right__block-bub {
  font-size: 24px;
}
.janyl-right__block-bub span {
  color: #9c93de;
}
.janyl-right-block .text_do {
  color: #9c93de;
  font-size: 28px;
  width: 704px;
  margin-top: 15px;
}
.janyl-right-block .text_do span {
  font-size: 24px;
  color: #000;
}
.janyl-right-block .text_posle {
  color: #9c93de;
  font-size: 28px;
  width: 704px;
  margin-top: 17px;
}
.janyl-right-block .text_posle span {
  font-size: 24px;
  color: #000;
}
.janyl-right-block .text_posle .okupila {
  color: #9c93de;
}
.janyl-left-block .bubble-btn {
  background: #9c93de;
  width: 192px;
  height: 62px;
  color: #fff;
  font-size: 28px;
  border: none;
  margin-left: -270px;
}
.frame-line {
  position: absolute;
  top: 450px;
  left: 30px;
}
.janyl-left-block .right-rec {
  position: absolute;
  top: -100px;
  z-index: -1;
}
.janyl-left-block .left-rec {
  position: absolute;
  left: -10px;
  top: 30px;
}

.bluebg{
  line-height: 24px !important;
  margin: .5em  !important;
}


/* phone  */
@media only screen and (max-width: 767px) {
  body{
    color: #1D4CF5 !important;
  }
  .module1{
    font-size: 16px;
  }
}